footer {
  background: var(--color-primary);
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
}
footer a {
  color: var(--color-bg);
}
.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}
.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  margin: 0 auto 2rem;
}
.footer__social {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 3rem;
}
.footer__social a {
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
  transition: var(--transition);
}
.footer__social a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}
.footer__copyright {
  margin-bottom: 4rem;
  color: var(--color-bg);
}
@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer__social{
      margin-bottom: 2.6rem;
  }
}
